body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    html,body{
      scroll-behavior: smooth;
    }
    
    .list{
        display: flex;
        list-style-type:none;
        gap: 100px;
        justify-content: center;
        font-size: 25px;
        background-color: aqua;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    a{
    text-decoration: none;
    
    }
    
    p{
    font-size: 25px;
    }
    